.hotel-list-container {
    min-width: 33em;
}

.hotel-container {
    width: 33em;
    height: 12em;
    background-color: $off-white;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;

    &--expanded {
        @extend .hotel-container;
        height: 18.5em;    
    }
}

.top-container-expanded {
    display: flex;
    height: 12em;
}

.top-container-not-expanded {
    display: flex;
}

.img-container {
    width: 66%;
    background-image: url('../../../assets/hotel-image-1.png');
    position: relative;
    height: 12em;
}

.details-container {
    font-size: $font-size-small;
    margin-left: 15px;
}

.overview-toggle {
    font-size: $font-size-small;
    color: $dark-blue;
    background-color: $off-white;
    width: 15em;
    position: absolute;
    bottom: 0px;
}

.overview-toggle-text {
    margin-left: 15px;
}

.details-container {
    margin-left: 15px
}

.overview-container {
    margin: 15px;
}

.overview-title {
    font-weight: 600;
    color: $dark-blue;
    margin: 5px 0;
    font-size: $font-size-small;
}

.overview {
    margin-top: 15px;
    font-size: $font-size-small;
}

.icon {
    width: 15px;
    height:10px;
    margin-left: 10px;
}