// colours
$off_white: #f7f7f7;
$blue: #0077CC;
$dark-blue: #20355a;
$dark-grey: #333;
$grey: #666;
$yellow: rgb(241, 241, 41);

//fontsize
$font-size-large: 1.6rem;
$font-size-medium: 1.4rem;
$font-size-small: 0.9rem;
//Spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.4rem;
$xs-size: 0.6rem;
$desktop-breakpont: 45rem;
